@import 'variables';

.block-spinner-container {
  background: $primary;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: 10000;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #fff;
}

.title {
  color: $white;
  padding-top: 15%;
  text-align: center;
}
